h1, h2, h3, p {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.weather-app {
  display: flex;
  align-items: center;
  justify-content: center;

}

.weather-container {
  height: 400px;
  width: 300px;
  background-color: rgba(24, 24, 24, 0.316);
  padding: 20px;
}

.details-container {
  height: 400px;
  width: 600px;
  background-color: rgba(137, 43, 226, 0.298);
  padding: 20px;
}
