h1, h2, h3, p {
  margin: 0;
  font-family: "Outfit", sans-serif;
  color: white;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);


}


.weather-app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.date-container {
  margin-top: 8px;
  /* border-bottom: 1px solid #ffffff; */
  padding-bottom: 10px;
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);

}



.current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


.location {
  font-weight: 500;
}

.temperature {
  font-size: 70px;
}

.weather-container {
  height: 400px;
  width: 300px;
  background-color: rgba(2, 44, 230, 0.584);
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  background-image: url('./rainy-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  height: 400px;
  width: 600px;
  background-color: rgba(45, 45, 45, 0.535);
  padding: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.search-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.search-weather {
  width: 200px;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
  border-bottom: 1px solid #ffffff;
  padding: 10px;
}

.search-weather::placeholder {
  font-size: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.search-button {
  text-decoration: none;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  
}

.search-icon {
  width: 20px;
}

.weather-details-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 20px;
}

.weather-details {
  display: flex;
  justify-content: space-between;
}


