h1, h2, h3, p {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: white;
} 

html, body{
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 200px;
  
  background-image: url('./rainy-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.weather-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}

.weather-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 100px;
}

.current-weather {
  display: flex;
  align-items: center;
  gap: 20px;
}

.weather-details {
  display: flex;
  gap: 20px;
}

.search {
  margin-right: 100px;
  background-color: white;
  opacity: 0.2;
}